Package: stegseek
Version: <<VERSION>>
Section: base
Priority: optional
Architecture: amd64
Depends: libmhash2, libmcrypt4, libjpeg8, zlib1g
Maintainer: Rick de Jager <rickdejager99@gmail.com>
Description: Fast steghide cracking utility
